<div class="container">
  <div class="row" style="padding-top: 5rem;">
  </div>
</div>
<div class="container border rounded">
  <div class="row">
    <div class="col-sm">
	<div class="card" style="width: 20rem;">
	  <div class="card-body">
		 <p><a href="#">Services</a></p>
	 	 <p><a href="#">Clients</a></p>
   	 	 <p><a href="#">Privacy</a></p>
      	 	 <p><a href="#">Contact</a></p>
			
	  </div>
	</div>
    </div>
    <div class="col-sm">
  	<div class="card" style="width: 20rem;">
  	  <div class="card-body">
  	    <h4 class="card-title">Developer Priority Lane</h4>
  	    <h6 class="card-subtitle mb-2 text-muted">developers@rebaze.com</h6>
  	  </div>
  	</div>
   
    </div>
    <div class="col-sm">
    	<div class="card" style="width: 20rem;">
    	  <div class="card-body">
    	    <h4 class="card-title">Rebaze GmbH</h4>
    	    <h6 class="card-subtitle mb-2 text-muted">Developer HQ</h6>
    	    <p class="card-text">Zollstrasse 6<BR/>39114 Magdeburg<BR/>Germany</p>
    	    <a href="#" class="card-link">Twitter</a>
    	    <a href="#" class="card-link">Github</a>
    	  </div>
    	</div>
        </div>
    </div>
  </div>
</div> 
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/toolkit.js"></script>
<script src="assets/js/application.js"></script>
