<div class="container">
      <div class="row">
  <div class="col-sm-8">
    <div class="p-4">
      <h3 class="statcard-number">
		  <div class="media">
		    <a href="/"><img class="align-self-start mr-3" src="/assets/c9_icon.png" alt="Generic placeholder image" width="75px" height="75px"></a>
		    <div class="media-body">
		      <h3>The Rebaze Way</h3>
		      <h5>the developer experience consulting boutique</h5>					  	  
		    </div>
		  </div>
		  
      </h3>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="p-4">
		<a href="/hello.html">
      <button type="button" class="btn btn-lg btn-success"><span class="icon icon-users"></span>&nbsp;
        Become a client</button>
	</a>
    </div>
  </div>
  <div class="container">
    <div class="row border border-right-0 border-left-0 border-bottom-0" style="padding-top: 2rem;">
    </div>
  </div>
